on:
  push:
    branches:
      - main
      - master
    paths:
      - 'DESCRIPTION'
      - '**pkgdown.yml'
      - '*.md'
      - 'inst/CITATION'
      - 'inst/*.bib'
      - 'man/**.Rd'
      - 'vignettes/**.Rmd'
  release:
    types: [published]
  workflow_dispatch:

name: pkgdown

permissions:
  contents: write
  pages: write
  id-token: write
  
jobs:
  pkgdown:
    runs-on: ubuntu-latest

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: ms609/actions/pkgdown@main
        with: 
          submodules: 'true'
